In [ ]:
import pandas as pd  
import numpy as np  
import matplotlib.pyplot as plt 
import seaborn as sns
%matplotlib inline

In [ ]:
data = pd.read_csv("/content/diabetes.csv")

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [ ]:
data.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [ ]:
data.tail()

     Pregnancies  Glucose  ...  Age  Outcome
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[5 rows x 9 columns]

In [ ]:
data.describe

<bound method NDFrame.describe of      Pregnancies  Glucose  ...  Age  Outcome
0              6      148  ...   50        1
1              1       85  ...   31        0
2              8      183  ...   32        1
3              1       89  ...   21        0
4              0      137  ...   33        1
..           ...      ...  ...  ...      ...
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[768 rows x 9 columns]>

In [ ]:
data.shape

(768, 9)

In [ ]:
corr = data.corr()
print(corr)

                          Pregnancies   Glucose  ...       Age   Outcome
Pregnancies                  1.000000  0.129459  ...  0.544341  0.221898
Glucose                      0.129459  1.000000  ...  0.263514  0.466581
BloodPressure                0.141282  0.152590  ...  0.239528  0.065068
SkinThickness               -0.081672  0.057328  ... -0.113970  0.074752
Insulin                     -0.073535  0.331357  ... -0.042163  0.130548
BMI                          0.017683  0.221071  ...  0.036242  0.292695
DiabetesPedigreeFunction    -0.033523  0.137337  ...  0.033561  0.173844
Age                          0.544341  0.263514  ...  1.000000  0.238356
Outcome                      0.221898  0.466581  ...  0.238356  1.000000

[9 rows x 9 columns]

In [ ]:
print(data.mean())

Pregnancies                   3.845052
Glucose                     120.894531
BloodPressure                69.105469
SkinThickness                20.536458
Insulin                      79.799479
BMI                          31.992578
DiabetesPedigreeFunction      0.471876
Age                          33.240885
Outcome                       0.348958
dtype: float64

In [ ]:
print(data.std())

Pregnancies                   3.369578
Glucose                      31.972618
BloodPressure                19.355807
SkinThickness                15.952218
Insulin                     115.244002
BMI                           7.884160
DiabetesPedigreeFunction      0.331329
Age                          11.760232
Outcome                       0.476951
dtype: float64

In [ ]:
data['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [ ]:
X = data.drop('Outcome', axis=1)  
y = data['Outcome']

In [ ]:
from sklearn.model_selection import train_test_split  
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20)

In [ ]:
print(X_train)

     Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
414            0      138             60  ...  34.6                     0.534   21
713            0      134             58  ...  26.4                     0.352   21
109            0       95             85  ...  37.4                     0.247   24
344            8       95             72  ...  36.8                     0.485   57
693            7      129             68  ...  38.5                     0.439   43
..           ...      ...            ...  ...   ...                       ...  ...
245            9      184             85  ...  30.0                     1.213   49
612            7      168             88  ...  38.2                     0.787   40
298           14      100             78  ...  36.6                     0.412   46
449            0      120             74  ...  30.5                     0.285   26
488            4       99             72  ...  25.6                     0.294   28

[614 rows x 8 columns]

In [ ]:
print(X_test)

     Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
297            0      126             84  ...  30.7                     0.520   24
308            0      128             68  ...  30.5                     1.391   25
603            7      150             78  ...  35.2                     0.692   54
581            6      109             60  ...  25.0                     0.206   27
93             4      134             72  ...  23.8                     0.277   60
..           ...      ...            ...  ...   ...                       ...  ...
227            3      162             52  ...  37.2                     0.652   24
120            0      162             76  ...  53.2                     0.759   25
680            2       56             56  ...  24.2                     0.332   22
462            8       74             70  ...  35.3                     0.705   39
118            4       97             60  ...  28.2                     0.443   22

[154 rows x 8 columns]

In [ ]:
print(y_test)

297    0
308    1
603    1
581    0
93     1
      ..
227    1
120    1
680    0
462    0
118    0
Name: Outcome, Length: 154, dtype: int64

In [ ]:
from sklearn.tree import DecisionTreeClassifier  
data_classifier = DecisionTreeClassifier()  
data_classifier.fit(X_train, y_train) 
y_pred = data_classifier.predict(X_test)


correct = (y_pred==y_test).sum()
accuracy = correct/len(y_test)*100
print("accuracy = ", accuracy, "%")

accuracy =  69.48051948051948 %

In [ ]:
from sklearn.svm import SVC  
svclassifier = SVC(kernel='linear')  
svclassifier.fit(X, y)

y_pred = svclassifier.predict(X)
correct = (y_pred==y).sum()
accuracy = correct/len(y)*100
print("accuracy = ", accuracy, "%")

accuracy =  77.734375 %

In [ ]:
from sklearn.naive_bayes import GaussianNB 
gnb = GaussianNB() 
gnb.fit(X, y) 
y_pred = gnb.predict(X)
correct = (y_pred==y).sum()
accuracy = correct/len(y)*100
print("accuracy = ", accuracy, "%")

accuracy =  76.30208333333334 %